.booklist {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bookcard {
    margin: 10px;
    width:100%;
}

.bookcard a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}


.dv-star-rating {
    font-size: 1.5rem;
}

.cardMedia-wrapper {
    background: url(/static/media/temp_bkCover.cc318a40.png);
    background-size: cover;
    background-position-x: center;
}

.bookpage_full {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #FCFCFC !important;
}

.bookpage_left_wrapper {
    width:70%;
}

.bookpage_right_wrapper {
    width:28%;
    color:#020207
}

.bookpage_full .star_rating { 
    float:right;
    font-size:1.5rem;
    margin-top:10px;
}

.bookpage_img_wrapper {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    margin-left: -60px;
    display: inline-block;
}

.bookpage_img_wrapper img {
    width: 100%;
    box-shadow: 2px 2px 10px #00000080;
    background:url("../../../temp_bkCover.png");
    background-size:cover;

}

.right {
    float:right;
}

.bookInfo-wrapper {
    padding: 5px 15px;
    font-size: 0.9rem;
    background: #00193350;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.info-bold {
    font-weight:bold;
}

.additionalBooks_wrapper {
    display:flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.additionalBooks_wrapper a {
    width: 48%;
}

.additionalBooks_img_wrapper {
    width: 100%;
    height:100%;
    max-height: 160px;
    overflow: hidden;
    border: 1px solid #00000030;
    margin: 5px 0;
    background:url("../../../temp_bkCover.png");
    background-size:cover;    
    background-position-x: center;

}

.additionalBooks_img_wrapper img {
    width:100%;
}

.bookpage_desc_wrapper {
    
    display: inline-block;
    max-width: 480px;
    width: 70%;
    vertical-align: top;
    padding-top: 30px;
    margin-left: 50px;
}

.bookpage_reviews_wrapper {
    width: 100%;
    vertical-align: top;
    float: right;
}

.addReviewButton {
    padding:15px;
    font-size:1.5rem;
}

.review_wrapper {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000030;
}

.review_wrapper:last-child {
    border-bottom:none;
}

.review_left {
    padding:10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
}
.review_left p {
    text-align: right;
    margin:0;
}
.review_right {
    width: 62%;
    padding: 10px;
}