.booklist {
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.bookcard {
    margin: 10px;
    width:100%;
}

.bookcard a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}


.dv-star-rating {
    font-size: 1.5rem;
}

.cardMedia-wrapper {
    background: url(/static/media/temp_bkCover.cc318a40.png);
    background-size: cover;
    background-position-x: center;
}

.bookpage_full {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #FCFCFC !important;
}

.bookpage_left_wrapper {
    width:70%;
}

.bookpage_right_wrapper {
    width:28%;
}

.bookpage_full .star_rating { 
    float:right;
    font-size:1.5rem;
    margin-top:10px;
}

.bookpage_img_wrapper {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
    margin-left: -60px;
    display: inline-block;
}

.bookpage_img_wrapper img {
    width: 100%;
    box-shadow: 2px 2px 10px #00000080;
    background:url("../../../temp_bkCover.png");
    background-size:cover;

}

.right {
    float:right;
}

.bookpage_desc_wrapper {
    
    display: inline-block;
    max-width: 480px;
    width: 70%;
    vertical-align: top;
    padding-top: 30px;
    margin-left: 50px;
}

.bookpage_reviews_wrapper {
    width:100%;
    max-width: 700px;
}

.addReviewButton {
    padding:15px;
    font-size:1.5rem;
}