.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  width:100%;
  margin:0;
}
.container {
  width:1220px;
  margin: 80px auto 0;
  padding:20px 0 0;
  
}

.signupLogin {
  display: flex;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 100px);
  flex-wrap: wrap;
}

header {
  width:100%;
  box-shadow:0 0 5px #00000030;
  position:fixed;
  top:0;
  z-index:1;
  background:white;
  height:80px;
}

.fullpage_wrap {
  width:100%;
}

.fullpage_prompt {
  background: url("https://images.pexels.com/photos/5710/books-colorful-harry-potter.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
}